---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives" class="archive-grid">
{% for category in site.categories %}
  <section class="archive-group archive-card" id="{{ category | first | slugize }}">
    {% capture category_name %}{{ category | first }}{% endcapture %}

    <h3 class="category-head">{{ category_name }}</h3>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <time class="archive-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </section>
{% endfor %}
</div>
