<aside id="sidebar">
    <h3>Categories</h3>
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
     <span class="site-tag site-tag-category">
        <a href="/categories/#{{ category | first | slugify }}">
                {{ category[0] | replace:'-', ' ' }} <span class="site-tag-count">{{ category | last | size }}</span>
        </a>
    </span>
    {% endfor %}

    <h3>Tags</h3>

    {% assign tags = site.tags | sort %}
    {% for tag in tags limit: 18 %}
    <span class="site-tag site-tag-hash">
        <a href="/tage_index/{{ tag | first | slugify }}/">
                {{ tag[0] | replace:'-', ' ' }} <span class="site-tag-count">{{ tag | last | size }}</span>
        </a>
    </span>
    {% endfor %}

    <p class="sidebar-link-row"><a class="sidebar-link" href="/tags/">View all tags</a></p>



</aside>