<aside id="sidebar">
    <h3>Categories</h3>
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
     <span class="site-tag">
        <a href="/category/{{ category | first | slugify }}/">
                {{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})
        </a>
    </span>
    {% endfor %}

    <h3>Tags</h3>

    {% assign tags = site.tags | sort %}
    {% assign sorted_tags = tags | sort: 'last' | reverse %}
    {% for tag in sorted_tags limit: 18 %}
    <span class="site-tag">
        <a href="/tags/{{ tag | first | slugify }}/">
                {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
        </a>
    </span>
    {% endfor %}

    <p class="sidebar-link-row"><a class="sidebar-link" href="/tags/">View all tags</a></p>



</aside>