
.home{ margin-top: 50px;}
#sidebar{ margin-top: 50px;}

.card {
    --falcon-card-bg: var(--falcon-emphasis-bg);
    -webkit-box-shadow: var(--falcon-box-shadow);
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07)
}


/* Sidebar*/

.site-tag a {
    display: inline-block;
    margin-right: 12px;
}



/* for syntax highlighting */
div.highlight { padding: 10px; background-color: #202020; }
.highlight .lineno { border: none; border-radius: 0; border-right: solid 1px; color: #aaa; }
.highlight .code pre { border: none; white-space: pre; overflow-x: auto; word-wrap: normal; }
.highlight code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }